<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CommonPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="SpacePropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="FloorPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="AssetPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="AssetTypePropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="SystemPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="SparePropertyMaps" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <CommonPropertyMaps>
    <add key="CommonCreatedBy" value="Data.COBie.CreatedBy"/>
    <add key="CommonCreatedOn" value="Data.COBie.CreatedOn"/>
    <add key="CommonDescription" value="Data.COBie.Description"/>
    <add key="CommonExtSystem" value="Data.COBie.COBieExtSystem"/>
    <add key="CommonCategory" value="Pset_ClassificationReferences.Pr_ProductReference"/>
    <add key="CommonCategoryCode" value="PSet_Revit_Type_Identity Data.Assembly Code"/>
    <add key="CommonCategoryDescription" value="PSet_Revit_Other.Category Description;PSet_Revit_Type_Identity Data.Assembly Description"/>
  </CommonPropertyMaps>
  <SpacePropertyMaps>
    <add key="SpaceGrossAreaValue" value="COBie_Space.GrossFloorArea;Pset_SpaceCommon.GrossPlannedArea"/>
    <add key="SpaceNetAreaValue" value="COBie_Space.NetFloorArea;Pset_BaseQuantities.NetFloorArea;BaseQuantities.NetFloorArea;Pset_SpaceCommon.NetPlannedArea"/>
    <add key="SpaceUsableHeightValue" value="BaseQuantities.Height"/>
    <add key="SpaceSignageName" value="COBie_Space.RoomTag"/>    
  </SpacePropertyMaps>
  <FloorPropertyMaps>
    <add key="FloorHeightValue" value="COBie_Floor.StoreyHeight"/>    
  </FloorPropertyMaps>
  <AssetPropertyMaps>
    <add key="AssetDescription" value="COBie_Component.Description"/>
    <add key="AssetSerialNumber" value="COBie_Component.SerialNumber;Pset_ManufacturerOccurence.SerialNumber"/>
    <add key="AssetInstallationDate" value="COBie_Component.InstallationDate"/>
    <add key="AssetInstalledModelNumber" value="COBie_Component.InstalledModelNumber"/>
    <add key="AssetWarrantyStartDate" value="COBie_Component.WarrantyStartDate"/>
    <add key="AssetStartDate" value="COBie_Component.StartDate;Pset_Component.StartDate"/>
    <add key="AssetTagNumber" value="COBie_Component.TagNumber"/>
    <add key="AssetBarCode" value="COBie_Component.BarCode;Pset_ManufacturerOccurence.BarCode"/>
    <add key="AssetIdentifier" value="COBie_Component.AssetIdentifier"/>
    <add key="AssetLocationDescription" value="COBie_Component.LocationDescription"/>
    <add key="AssetAcquisitionDate" value="Pset_ManufacturerOccurence.AcquisitionDate"/>
    <add key="AssetBatchReference" value="Pset_ManufacturerOccurence.BatchReference"/>
    <add key="AssetAssemblyPlace" value="Pset_ManufacturerOccurence.AssemblyPlace"/>
  </AssetPropertyMaps>
  <AssetTypePropertyMaps>
    <add key="AssetTypeName" value="Data.COBie.Type.Name"/>
    <add key="AssetTypeDescription" value="Data.COBie.Type.Description;Data(Type).COBie.Type.Description"/>
    <add key="AssetTypeAccountingCategory" value="Data.COBie.Type.AssetType;Data(Type).COBie.Type.AssetType;COBie_ElementType.AssetType;COBie_Asset.AssetType;Pset_Asset.AssetAccountingType"/>
    <add key="AssetTypeDurationUnit" value="Pset_ServiceLife.DurationUnit"/>
    <add key="AssetTypeModelNumber" value="Pset_ManufacturerTypeInformation.ModelLabel"/>
    <add key="AssetTypeModelReference" value="Pset_ManufacturerTypeInformation.ModelReference"/>
    <add key="AssetTypeReplacementCostValue" value="COBie_EconomicalImpactValues.ReplacementCost;Pset_EconomicalImpactValues.ReplacementCost"/>
    <add key="AssetTypeExpectedLifeValue" value="Pset_ServiceLife.ServiceLifeDuration"/>
    <add key="AssetTypeNominalLength" value="COBie_ElementType.NominalLength"/>
    <add key="AssetTypeNominalWidth" value="COBie_ElementType.NominalWidth"/>
    <add key="AssetTypeNominalHeight" value="COBie_ElementType.NominalHeight"/>
    <add key="AssetTypeAccessibilityText" value="COBie_ElementType.AccessibilityPerformance"/>
    <add key="AssetTypeColorCode" value="COBie_ElementType.Color"/>
    <add key="AssetTypeConstituentsDescription" value="COBie_ElementType.Constituents"/>
    <add key="AssetTypeFeaturesDescription" value="COBie_ElementType.Features"/>
    <add key="AssetTypeFinishDescription" value="COBie_ElementType.Finish"/>
    <add key="AssetTypeGradeDescription" value="COBie_ElementType.Grade"/>
    <add key="AssetTypeMaterialDescription" value="COBie_ElementType.Material"/>
    <add key="AssetTypeShapeDescription" value="COBie_ElementType.Shape"/>
    <add key="AssetTypeSizeDescription" value="COBie_ElementType.Size"/>
    <add key="AssetTypeSustainabilityPerformanceDescription" value="COBie_ElementType.SustainabilityPerformance"/>
    <add key="AssetTypeAssemblyPlace" value="Pset_ManufacturerTypeInformation.AssemblyPlace"/>
    <add key="AssetTypeGlobalTradeItemNumber" value="Pset_ManufacturerTypeInformation.GlobalTradeItemNumber"/>
    <add key="AssetTypeArticleNumber" value="Pset_ManufacturerTypeInformation.ArticleNumber"/>
    <add key="AssetTypeManufacturer" value="Pset_ManufacturerTypeInformation.Manufacturer"/>
    <add key="AssetTypeProductionYear" value="Pset_ManufacturerTypeInformation.ProductionYear"/>
    <add key="AssetTypeCodePerformance" value="COBie_ElementType.CodePerformance"/>    
    <add key="AssetTypeWarrantyDurationLabor" value="COBie_Warranty.WarrantyDurationLabor"/>
    <add key="AssetTypeWarrantyDurationParts" value="COBie_Warranty.WarrantyDurationParts"/>
    <add key="AssetTypeWarrantyDurationUnit" value="Pset_ServiceLife.DurationUnit"/>
    <add key="AssetTypeWarrantyGuarantorLabor" value="COBie_Warranty.WarrantyGuarantorLabor"/>
    <add key="AssetTypeWarrantyGuarantorParts" value="COBie_Warranty.WarrantyGuarantorParts"/>
    <add key="AssetTypeWarrantyDescription" value="COBie_Warranty.WarrantyDescription"/>    
  </AssetTypePropertyMaps>
  <SparePropertyMaps>
    <add key="SpareSuppliers" value="COBie_Spare.Suppliers"/>
    <add key="SpareSetNumber" value="COBie_Spare.SetNumber"/>
    <add key="SparePartNumber" value="COBie_Spare.PartNumber"/>
  </SparePropertyMaps>
<SystemPropertyMaps>
  <add key="SystemMaps" value="Electrical - Loads.Circuit Number;PSet_Revit_Electrical - Loads.Circuit Number;Mechanical.System Name;PSet_Revit_Mechanical.System Name;Mechanical.System Type;PSet_Revit_Mechanical.System Type"/>   
</SystemPropertyMaps>
</configuration>