<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CommonPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="SpacePropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="FloorPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="AssetPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="AssetTypePropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="SystemPropertyMaps" type="System.Configuration.AppSettingsSection" />
    <section name="SparePropertyMaps" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <CommonPropertyMaps>
    <add key="CommonCreatedBy" value="Data.COBie.CreatedBy"/>
    <add key="CommonCreatedOn" value="Data.COBie.CreatedOn"/>
    <add key="CommonDescription" value="Data.COBie.Description"/>
    <add key="CommonExtSystem" value="Data.COBie.COBieExtSystem"/>
    <add key="CommonCategory" value="PSet_Revit_Identity Data.OmniClass Table 13 Category"/>
    <add key="CommonCategoryCode" value="PSet_Revit_Type_Identity Data.OmniClass Number;PSet_Revit_Type_Other.Classification Code;PSet_Revit_Other.Category Code;PSet_Revit_Type_Identity Data.Assembly Code"/>
    <add key="CommonCategoryDescription" value="PSet_Revit_Type_Identity Data.OmniClass Title;PSet_Revit_Type_Other.Classification Description;PSet_Revit_Other.Category Description;PSet_Revit_Type_Identity Data.Assembly Description"/>
  </CommonPropertyMaps>
  <SpacePropertyMaps>
    <add key="SpaceGrossAreaValue" value="qto_SpaceBaseQuantities.GrossFloorArea;Pset_BaseQuantities.GrossFloorArea;BaseQuantities.GrossFloorArea;Pset_SpaceCommon.GrossPlannedArea"/>
    <add key="SpaceNetAreaValue" value="qto_SpaceBaseQuantities.NetFloorArea;Pset_BaseQuantities.NetFloorArea;BaseQuantities.NetFloorArea;Pset_SpaceCommon.NetPlannedArea"/>
    <add key="SpaceUsableHeightValue" value="qto_SpaceBaseQuantities.NetHeight;qto_SpaceBaseQuantities.FinishCeilingHeight;Pset_SpaceCommon.UsableHeight;Dimensions.UsableHeight;BaseQuantities.Height"/>
    <add key="SpaceSignageName" value="COBie_Space.RoomTag;Pset_SpaceCommon.Reference;Pset_SpaceCommon.RoomTag"/>    
  </SpacePropertyMaps>
  <FloorPropertyMaps>
    <add key="FloorHeightValue" value="Qto_BuildingStoreyBaseQuantities.NetHeight;BaseQuantities.NominalHeight"/>    
  </FloorPropertyMaps>
  <AssetPropertyMaps>
    <add key="AssetDescription" value="Data.COBie.Component.Description"/>
    <add key="AssetSerialNumber" value="Data.COBie.Component.SerialNumber;Pset_ManufacturerOccurence.SerialNumber;Pset_Component.SerialNumber"/>
    <add key="AssetInstallationDate" value="Data.COBie.Component.InstallationDate;COBie_Component.InstallationDate;Pset_Component.InstallationDate"/>
    <add key="AssetInstalledModelNumber" value="Data.COBie_Component.InstalledModelNumber;Pset_Component.InstalledModelNumber"/>
    <add key="AssetWarrantyStartDate" value="Data.COBie.Component.WarrantyStartDate;COBie_Component.WarrantyStartDate;Pset_Component.WarrantyStartDate"/>
    <add key="AssetStartDate" value="COBie_Component.StartDate;Pset_Component.StartDate"/>
    <add key="AssetTagNumber" value="COBie.Component.TagNumber;COBie_Component.TagNumber;Pset_Component.TagNumber"/>
    <add key="AssetBarCode" value="Data.COBie.Component.BarCode;Pset_ManufacturerOccurrence.BarCode;COBie_Component.BarCode;Pset_Component.BarCode"/>
    <add key="AssetIdentifier" value="Data.COBie.Component.AssetIdentifier;COBie_Component.AssetIdentifier;Pset_Component.AssetIdentifier"/>
    <add key="AssetLocationDescription" value="COBie_Component.LocationDescription;Pset_Component.LocationDescription"/>
    <add key="AssetAcquisitionDate" value="Pset_ManufacturerOccurrence.AcquisitionDate"/>
    <add key="AssetBatchReference" value="Pset_ManufacturerOccurrence.BatchReference"/>
    <add key="AssetAssemblyPlace" value="Pset_ManufacturerOccurrence.AssemblyPlace"/>
  </AssetPropertyMaps>
  <AssetTypePropertyMaps>
    <add key="AssetTypeName" value="Data.COBie.Type.Name;Data(Type).COBie.Type.Name"/>
    <add key="AssetTypeDescription" value="Data.COBie.Type.Description;Data(Type).COBie.Type.Description"/>
    <add key="AssetTypeAccountingCategory" value="Data.COBie.Type.AssetType;Data(Type).COBie.Type.AssetType;COBie_ElementType.AssetType;COBie_Asset.AssetType;Pset_Asset.AssetAccountingType"/>
    <add key="AssetTypeDurationUnit" value="Other.DurationUnit"/>
    <add key="AssetTypeModelNumber" value="Data.COBie.Type.ModelNumber;Data(Type).COBie.Type.ModelNumber;Pset_ManufacturerTypeInformation.ModelLabel"/>
    <add key="AssetTypeModelReference" value="Data.COBie.Type.ModelReference;Data(Type).COBie.Type.ModelReference;Pset_ManufacturerTypeInformation.ModelReference"/>
    <add key="AssetTypeReplacementCostValue" value="Data.COBie.Type.ReplacementCost;Data(Type).COBie.Type.ReplacementCost;COBie_ElementType.ReplacementCost;COBie_EconomicImpactValues.ReplacementCost;Pset_EconomicImpactValues.Cost"/>
    <add key="AssetTypeExpectedLifeValue" value="Data.COBie.Type.ExpectedLife;Data(Type).COBie.Type.ExpectedLife;Pset_ServiceLife.ServiceLifeDuration;COBie_ServiceLife.ServiceLifeDuration"/>
    <add key="AssetTypeNominalLength" value="Data.COBie.Type.NominalLength;Data(Type).COBie.Type.NominalLength;COBie_ElementType.NominalLength;COBie_Specification.NominalLength;Pset_Specification.NominalLength"/>
    <add key="AssetTypeNominalWidth" value="Data.COBie.Type.NominalWidth;Data(Type).COBie.Type.NominalWidth;COBie_ElementType.NominalWidth;COBie_Specification.NominalWidth;Pset_Specification.NominalWidth"/>
    <add key="AssetTypeNominalHeight" value="Data.COBie.Type.NominalHeight;Data(Type).COBie.Type.NominalHeight;COBie_ElementType.NominalHeight;COBie_Specification.NominalHeight;Pset_Specification.NominalHeight"/>
    <add key="AssetTypeAccessibilityText" value="Data.COBie.Type.AccessibilityPerformance;Data(Type).COBie.Type.AccessibilityPerformance;COBie_ElementType.AccessibilityPerformance;COBie_Specification.AccessibilityPerformance;Pset_Specification.AccessibilityPerformance"/>
    <add key="AssetTypeColorCode" value="Data.COBie.Type.Color;Data(Type).COBie.Type.Color;COBie_ElementType.Color;COBie_Specification.Colour;COBie_Specification.Color;Pset_Specification.Colour;Pset_Specification.Color"/>
    <add key="AssetTypeConstituentsDescription" value="Data.COBie.Type.Constituents;Data(Type).COBie.Type.Constituents;COBie_ElementType.Constituents;COBie_Specification.Constituents;Pset_Specification.Constituents"/>
    <add key="AssetTypeFeaturesDescription" value="Data.COBie.Type.Features;Data(Type).COBie.Type.Features;COBie_ElementType.Features;COBie_Specification.Features;Pset_Specification.Features"/>
    <add key="AssetTypeFinishDescription" value="Data.COBie.Type.Finish;Data(Type).COBie.Type.Finish;COBie_ElementType.Finish;COBie_Specification.Finish;Pset_Specification.Finish"/>
    <add key="AssetTypeGradeDescription" value="Data.COBie.Type.Grade;Data(Type).COBie.Type.Grade;COBie_ElementType.Grade;COBie_Specification.Grade;Pset_Specification.Grade"/>
    <add key="AssetTypeMaterialDescription" value="Data.COBie.Type.Material;Data(Type).COBie.Type.Material;COBie_ElementType.Material;COBie_Specification.Material;Pset_Specification.Material"/>
    <add key="AssetTypeShapeDescription" value="Data.COBie.Type.Shape;Data(Type).COBie.Type.Shape;COBie_ElementType.Shape;COBie_Specification.Shape;Pset_Specification.Shape"/>
    <add key="AssetTypeSizeDescription" value="Data.COBie.Type.Size;Data(Type).COBie.Type.Size;COBie_ElementType.Size;COBie_Specification.Size;Pset_Specification.Size"/>
    <add key="AssetTypeSustainabilityPerformanceDescription" value="Data.COBie.Type.SustainabilityPerformance;Data(Type).COBie.Type.SustainabilityPerformance;COBie_ElementType.SustainabilityPerformance;COBie_Specification.SustainabilityPerformance;Pset_Specification.SustainabilityPerformance"/>
    <add key="AssetTypeAssemblyPlace" value="Pset_ManufacturerTypeInformation.AssemblyPlace"/>
    <add key="AssetTypeGlobalTradeItemNumber" value="Pset_ManufacturerTypeInformation.GlobalTradeItemNumber"/>
    <add key="AssetTypeArticleNumber" value="Pset_ManufacturerTypeInformation.ArticleNumber"/>
    <add key="AssetTypeManufacturer" value="Data.COBie.Type.Manufacturer;Data(Type).COBie.Type.Manufacturer;Pset_ManufacturerTypeInformation.Manufacturer"/>
    <add key="AssetTypeProductionYear" value="Pset_ManufacturerTypeInformation.ProductionYear"/>
    <add key="AssetTypeCodePerformance" value="Data.COBie.Type.CodePerformance;Data(Type).COBie.Type.CodePerformance;COBie_Specification.CodePerformance"/>    
    <add key="AssetTypeWarrantyDurationLabor" value="Data.COBie.Type.WarrantyDurationLabor;Data(Type).COBie.Type.WarrantyDurationLabor;COBie_Warranty.WarrantyDurationLabor"/>
    <add key="AssetTypeWarrantyDurationParts" value="Data.COBie.Type.WarrantyDurationParts;Data(Type).COBie.Type.WarrantyDurationParts;COBie_Warranty.WarrantyDurationParts"/>
    <add key="AssetTypeWarrantyDurationUnit" value="COBie_Warranty.WarrantyDurationUnit"/>
    <add key="AssetTypeWarrantyGuarantorLabor" value="Data.COBie.Type.WarrantyGuarantorLabor;Data(Type).COBie.Type.WarrantyGuarantorLabor;COBie_Warranty.WarrantyGuarantorLabor"/>
    <add key="AssetTypeWarrantyGuarantorParts" value="Data.COBie.Type.WarrantyGuarantorParts;Data(Type).COBie.Type.WarrantyGuarantorParts;COBie_Warranty.WarrantyGuarantorParts"/>
    <add key="AssetTypeWarrantyDescription" value="Data.COBie.Type.WarrantyDescription;Data(Type).COBie.Type.WarrantyDescription;COBie_Warranty.WarrantyDescription"/>    
  </AssetTypePropertyMaps>
  <SparePropertyMaps>
    <add key="SpareSuppliers" value="COBie_Spare.Suppliers"/>
    <add key="SpareSetNumber" value="COBie_Spare.SetNumber"/>
    <add key="SparePartNumber" value="COBie_Spare.PartNumber"/>
  </SparePropertyMaps>
<SystemPropertyMaps>
  <add key="SystemMaps" value="Electrical - Loads.Circuit Number;PSet_Revit_Electrical - Loads.Circuit Number;Mechanical.System Name;PSet_Revit_Mechanical.System Name;Mechanical.System Type;PSet_Revit_Mechanical.System Type"/>   
</SystemPropertyMaps>
</configuration>